<div class="sources form-inline" data-toggle="buttons">
    <label for="sources">Sources:</label>
    <select name="sources" id="sources" [(ngModel)]="_sourceMonthsToAdd"
            (change)="refresh()" class="form-control">
        <option *ngFor="let x of _sources" [value]="x.value">{{x.display}}</option>
    </select>
</div>
<div>
    <ul role="tablist" class="nav nav-tabs bs-adaptive-tabs" id="tabHeaders" tabindex="1">
        <li class="active" role="presentation">
            <a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="tab1-tab" href="#tab1">
                <label>Currency table</label>
            </a>
        </li>
        <li role="presentation">
            <a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="tab2-tab" href="#tab2">
                <label>Currency chart</label>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="tabContent">
        <div aria-labelledby="tab1-tab" id="tab1" class="tab-pane fade in active" role="tabpanel">
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Euro</th>
                        <th>US Dollar</th>
                    </tr>
                    </thead>
                    <tr *ngFor="let x of _currencies">
                        <td>{{x.get('date')}}</td>
                        <td class="{{getSpecialStyle(x.get('eur').value, 'eur')}}">
                            {{x.get('eur').value}}₽ = {{x.get('eur').units}}€
                        </td>
                        <td class="{{getSpecialStyle(x.get('usd').value, 'usd')}}">
                            {{x.get('usd').value}}₽ = {{x.get('usd').units}}$
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div aria-labelledby="tab2-tab" id="tab2" class="tab-pane chart-container" role="tabpanel">
            <div class="row">
                <div class="col-md-8">
                    <chart [(options)]="_chartOptions"></chart>
                </div>
            </div>
        </div>
    </div>
</div>